.navbar {
  background-color: #cbcbcc;
  display: flex;
  justify-content: center;
min-width: 800px
;

}

.navContainer {
  padding: 2px 6px;
  width: 100%;
  max-width: 1140px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}
.navItems{
  justify-content: flex-end;
}
.navButton {
  margin-left: 20px;
  border: none;
  padding: 2px 10px;
  cursor: pointer;
  color: black;
  border-radius: 10px;
}
.nav {justify-content: flex-start;
  font-size: small;
  padding: 2px 6px;
  height: 10px;
  display: flex;
  align-items: center;
  color: black;
  div {
    justify-content: center;
    padding: 2px 10px 2px;
  }
}
