.container {
  padding-top: 20px;
  width: 1140px;
  height: 800px;
  padding-bottom: 100px;
  border-radius: 10% !important;
}
.childeContainer {
  width: auto !important;
  height: 800px;
}
.ql-editor {
  height: 700px !important;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
.ql-toolbar {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
