.container {
  display: flex !important;
  border: 1px solid #ccc;
}
.containerbutton {
  padding-top: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border: 1px solid #ccc;

  button {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
