.coupon_form_footer {
  padding-bottom: 20px !important;
  justify-content: center !important;
  input {
    // max-width: 190px;
    // height: 35px;
    outline: none;
    background-color: white;
  }
  button {
    height: 35px;
    background-color: #fc3d57;
    color: white;
  }
}
.proccesstocheckoutbtn {
  height: 45px !important;
  // padding: 10px !important;
  border-width: 1px !important;
}
.single_product {
  font-weight: 600;
  .single_product_name {
    display: flex;
    flex-direction: column;
    span {
      font-weight: 500 !important;
      white-space: nowrap;
      font-size: 14px;
    }
  }
  span {
    width: 20%;
  }
  //   span:nth-child(1) {
  //   /* Styles for the first span (x1) */
  // }
  .single_product_name {
    width: 60%;
  }
}
.payment_methods {
  .proccesstocheckoutbtn:hover {
    color: #fc3d57 !important;
  }
}
