.container {
  width: 100%;
  max-width: 1140px;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.containers {
  display: flex;
  justify-content: center;
}
.box {
  width: 200px;
  height: 350px;
}
.Image {
  width: auto !important;
  height: 200px;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
