.coupon_form_footer {
  padding-bottom: 25px !important;
  justify-content: center !important;
  input {
    max-width: 190px;
    height: 35px;
    outline: none;
    background-color: white;
  }
  button {
    height: 35px;
    background-color: #fc3d57;
    color: white;
  }
}
.proccesstocheckoutbtn {
  height: 45px !important;
  padding: 10px !important;
}
