.divImg {
  display: flex;
  justify-content: space-around;
  height: 450px;
  width: auto;
  flex-shrink: 0;
  padding: 0px 0px 20px 0px;
  img {
    height: 450px;
    width: 1200px;
  }
}
.divImgContainer {
  margin: auto;
  height: 450px;
  width: 1140px;
  display: block;
}
