.navbar {
  background-color: #b90000;
  display: flex;
  justify-content: center;
  min-width: 1140px;
}
.navContainerMenu {
  height: 40px;
  width: 100%;
  max-width: 1140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: white;
  }
  button {
    cursor: pointer;
    justify-content: space-between;
    background-color: #b90000;
    border: none;
    flex: 1;
    &:hover {
      opacity: 0.7;
      border: 1px 1px;
      border-radius: 100px;
      background-color: #b82438c0;
    }
  }
}
