$defaut-color-black: black;
$defaut-color-white: white;
$defaut-color-pink: #fc3d57;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@media only screen and (min-width: 768px) {
  .parent:hover .child {
    opacity: 1;
    height: auto;
    overflow: none;
    transform: translateY(0);
    z-index: 10;
  }
  .child {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transform: translateY(-10%);
  }
}
// .containernavbar {
//   font-family: "Poppins", sans-serif !important;
// }
.headernavbar {
  width: 1140px !important;
  width: 100% !important;
  height: auto;
  a .las {
    transition: transform 0.3s;
  }
  a:hover .las {
    transform: rotate(180deg);
  }
  a:hover {
    color: #fc3d57;
    text-decoration-line: none;
  }
  span {
    font-family: "Poppins", sans-serif !important;
  }
  span:hover {
    cursor: pointer;
  }
}
@keyframes dropdown-animation {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

.nice_select select {
  animation: dropdown-animation 0.5s ease-out;
}
