.container {
  height: auto;
  min-height: 800px;
}
.imgItem {
  width: 100% !important;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}
@media (max-width: 767.98px) {
  .border-sm-start-none {
    border-left: none !important;
  }
}
.detals {
  background-color: #b90000;
  border-radius: 10px;
  color: white;
  width: 100px;
  &:hover {
    background-color: #b90000cc;
  }
}
