.container {
  width: 100%;
  max-width: 1140px;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.containers {
  display: flex;
  justify-content: center;
}
.box {
  width: 250px;
  height: 400px;
}
