$defaut-color-black: black;
$defaut-color-white: white;
$defaut-color-pink: #fc3d57;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
// .header {
//   background-color: $defaut-color-white;
//   display: flex !important;
//   justify-content: center !important;
//   max-width: 100%;
//   min-width: 1000px;
//   color: black;
//   font-size: 14px;
//   padding: 12px;
//   overflow: hidden;
//   a {
//     text-decoration-line: none;
//   }
//   a:hover {
//     color: #fc3d57;
//   }
// }
// .headerContainer {
//   height: 45px;
//   width: 100%;
//   width: 1140px;
// }
// .headright {
//   width: 80%;
//   width: 980px;
//   display: flex;
//   justify-content: space-between !important;
// }

// .homesubnav {
//   a .las {
//     transition: transform 0.3s;
//   }
//   a:hover .las {
//     transform: rotate(180deg);
//   }

//   .subnav {
//     display: none;
//     position: absolute;
//     background-color: white;
//     width: 110px;
//     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
//     height: auto;
//     left: calc(34%);
//     z-index: 10;
//   }
//   .subnav ul li a {
//     display: block;
//     color: #444;
//     padding: 5px;
//     text-decoration: none;
//     transition: background-color 0.3s;
//   }
// }
// .homesubnav:hover {
//   .subnav {
//     display: block;
//   }
//   .subnav ul li a:hover {
//     background-color: #f1f1f1;
//     color: #fc3d57;
//   }
// }
@media only screen and (min-width: 768px) {
  .parent:hover .child {
    opacity: 1;
    height: auto;
    overflow: none;
    transform: translateY(0);
    z-index: 10;
  }
  .child {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transform: translateY(-10%);
  }
}
// .containernavbar {
//   font-family: "Poppins", sans-serif !important;
// }
.headernavbar {
  width: 1140px !important;
  width: 100% !important;
  height: auto;
  a .las {
    transition: transform 0.3s;
  }
  a:hover .las {
    transform: rotate(180deg);
  }
  a:hover {
    color: #fc3d57;

    text-decoration-line: none;
  }
  span {
    font-family: "Poppins", sans-serif !important;
  }
  span:hover {
    cursor: pointer;
  }
}
.child {
  .divchild {
    h5 {
      font-weight: 600;
      padding-bottom: 2px;
    }
    li {
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
}
