.footer {
  width: 100%;
  width: 1024px;
  font-size: 12px;
}
.fLists {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-bottom: 50px;
}

.fList {
  padding: none;
  text-align: justify;
}

.fListItem {
  margin-bottom: 10px;
  color: #003580;
  cursor: pointer;
}
