.footer {
  width: 100%;
  /* font-size: 12px; */
  text-align: center;
  border-top: #cbcbcc 1px solid;
  display: flex;
  justify-content: center;
}

.fLists {
  max-width: 1140px;
  width: 100%;
  display: flex;
  padding-top: 20px;
  align-items: center;
}

.fList {
  list-style: none;
  padding: 0;
  flex: 1;
}
.fListItem {
  margin-bottom: 10px;
  color: black;
  cursor: pointer;
}
.fListItemTitle {
  font-size: medium;
  margin-bottom: 10px;
  color: black;
  cursor: pointer;
}
.ff {
  border-top: 1px;
}
.fText {
  width: 100%;
  /* font-size: 12px; */
  height: auto;
  display: flex;
  justify-content: center;
  color: aliceblue;
  background-color: #850000;
}
