.imgItem {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}
@media (max-width: 767.98px) {
  .border-sm-start-none {
    border-left: none !important;
  }
}
.detals {
  background-color: #b90000;
  border-radius: 4px;
  color: white;
  width: 100px;
  &:hover {
    background-color: #b90000cc;
  }
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  min-height: 800px;
}
