@import url("https://fonts.googleapis.com/css?family=Roboto:400,300");

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
}
.pagination-container {
  margin: auto;
  padding-bottom: 10px;
}
.pagination {
  position: relative;
  justify-content: center;
  a {
    position: relative;
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 8px 16px 10px;
    &:before {
      z-index: -1;
      position: absolute;
      height: 100%;
      width: 100%;
      content: "";
      top: 0;
      left: 0;
      background-color: #a00000;
      border-radius: 24px;
      transform: scale(0);
      transition: all 0.2s;
    }
  }
  .pagination-active {
    color: #fff;
    &:before {
      transform: scale(1);
    }
  }
}
.pagination a:hover,
.pagination a .pagination-active {
  color: #fff;
}
.pagination a:hover:before,
.pagination a .pagination-active:before {
  transform: scale(1);
}
.pagination-newer {
  margin-left: 50px;
  margin-right: 50px;
}
.pagination-older {
  margin-left: 50px;
  margin-right: 50px;
}
