.container {
  width: 100%;
  max-width: 1140px;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  height: auto;
  min-height: 800px;
  justify-content: center;
}
.containers {
  display: flex;
  justify-content: space-evenly;
}
.box {
  width: 200px;
  height: 350px;
}
.Image {
  width: auto;
  height: 300px;
  object-fit: fill;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.textdes {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.textname {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
