$defaut-color-black: black;
$defaut-color-white: white;
$defaut-color-pink: #fc3d57;
.containershop {
  width: 100%;
  max-width: 940px;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 10px;
  height: auto;
  min-height: 800px;
  justify-content: center;
}
.containers {
  display: flex;
  justify-content: space-evenly;
}
.custom_check {
  display: flex;
  width: 200px;

  label {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    padding-left: 5px;
  }
  label:hover {
    cursor: pointer;
  }
  p {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
  }
  input[type="checkbox"] {
    accent-color: $defaut-color-pink !important;
  }
}
.containersbox {
  padding: 20px 10px 10px 10px;
  height: 100%;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  h4 {
    font-family: Roboto, sans-serif;
    font-size: 1rem /* 16px */;
    line-height: 1.5rem /* 24px */;
    font-weight: 800;
  }
}

.radio-toolbar-search input[type="radio"] {
  display: none;
}

.radio-toolbar-search label {
  display: flex;
  padding-top: 1.5px;
  justify-content: center;
  width: 24.5px !important;
  border-radius: 3px;
  border: 1px solid $defaut-color-black;
  background-color: $defaut-color-white;
  margin: 4px 12px 12px 0px;
  font-family: Arial;
  font-size: 14px;
  cursor: pointer;
}

.radio-toolbar-search input[type="radio"]:checked + label {
  background-color: $defaut-color-pink;
  color: $defaut-color-white;
  border: 1px solid $defaut-color-pink;
}
