.navbar {
  display: flex;
  height: 70px;
  justify-content: center;
}
.navContainerMenu {
  width: 100%;
  max-width: 1140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    padding-right: 10px;
  }
}

.navBarTextTitle {
  font-size: small;
  font-weight: 700;
}
.navBarText {
  font-size: x-small;
}
.navContainerIconAds {
  display: flex;
  justify-content: center;
}

.navBarTitleContainer {
  width: 10px;
}
