.navbar {
  display: flex;
  height: auto;
  justify-content: center;
}
.navContainerMenu {
  width: 100%;
  max-width: 1200px;
  padding-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
