$defaut-color-black: black;
$defaut-color-white: white;
$defaut-color-pink: #fc3d57;
.position-relative {
  input {
    width: 80%;
  }
}
.single_billing_inp {
  white-space: nowrap;
  span {
    position: absolute;
    right: 23%;
    top: 9px;
    font-size: 14px;
  }
  label {
    font-size: 14px;
  }
  input {
    height: 50%;
    //   width: 80%;
    min-width: 30%;
    font-size: 12px;
    outline: none;
  }
  i {
    cursor: pointer;
  }
}
.addressinput {
  height: 50%;
  min-width: 30%;
  font-size: 12px;
  outline: none;
}
.acprof_info_wrap {
  padding: 32px 24px;
}
.savechangebtn {
  margin-top: 10px;
  font-size: 14px;
  width: 15%;
  min-width: 140px;
  height: 35px;
  background-color: $defaut-color-pink;
  color: white;
}
.position-relative {
  position: relative !important;
}
.single_prof_info {
  border: 1px solid #e9e4e4;
  min-height: 165px;
  .prof_info_title {
    a {
      // text-decoration-line: none;
      color: #fc3d57;
    }
    h4 {
      display: flex;
      align-items: center;
    }
    display: flex;
    justify-content: space-between;
  }
  h4 {
    font-size: 16px;
    font-weight: 600;
  }
}
.container_address_manage_my_account {
  div {
    padding: 8px 8px;
  }
}
.prfo_info_cont {
  .name_mma {
    font-size: 14px;
    font-weight: 600;
  }
  font-size: 14px;
}
.single_prof_recorder {
  display: flex;
  flex-direction: column;
  .prorder_img {
    display: flex;
  }
}
.prorder_img {
  img {
    // width: 90%;
    // height: 20%;
    width: 70px;
  }
}

.prorder_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px !important;
  font-size: 13px;
  font-weight: 600 !important;
  border: 1px solid #fc3d57;
  cursor: pointer;
  // width: 80%;
  // min-width: 135px;
  min-height: 15px;
  height: 65%;
  //
  color: #fc3d57 !important;
  &:hover {
    color: white !important;
    background-color: $defaut-color-pink !important;
  }
}
.prorder_txt {
  h5 {
    font-weight: 600;
    padding-bottom: 10px;
  }
  p {
    font-size: 14px;
  }
}
// .vieworderbtn_mma {
//   display: flex;
//   padding: 5px 15px !important;
//   height: 40px;
//   justify-content: center;
//   align-items: center;
//   color: #fc3d57;
//   border: 1px solid #fc3d57;
//   // height: 70%;
//   font-size: 13px;
//   font-weight: 600 !important;
//   cursor: pointer;
//   &:hover {
//     color: white !important;
//     background-color: $defaut-color-pink !important;
//   }
// }
