$defaut-color-black: black;
$defaut-color-white: white;
$defaut-color-pink: #fc3d57;
.position-relative {
  input {
    width: 80%;
  }
}
.acprof_info_wrap_password {
  .single_billing_inp {
    span {
      position: absolute;
      right: 23%;
      top: 9px;
      font-size: 14px;
      color: black;
    }
  }
}
.single_billing_inp {
  white-space: nowrap;
  span {
    color: #fc3d57;
  }
  label {
    font-size: 14px;
  }
  input {
    height: 50%;
    min-width: 30%;
    font-size: 12px;
    outline-color: #e2e8f0;
  }
  i {
    cursor: pointer;
  }
}
.addressinput {
  height: 50%;
  min-width: 30%;
  font-size: 12px;
  outline: none;
}
.acprof_info_wrap {
  padding: 32px 24px;
}
.savechangebtn {
  margin-top: 10px;
  font-size: 14px;
  width: 15%;
  min-width: 140px;
  height: 35px;
  background-color: $defaut-color-pink;
  color: white;
}
.acprof_links {
  cursor: pointer;
}
.position-relative {
  position: relative !important;
}
.single_prof_info {
  border: 1px solid #e9e4e4;
  min-height: 165px;
  .prof_info_title {
    a {
      // text-decoration-line: none;
      color: #fc3d57;
    }
    h4 {
      display: flex;
      align-items: center;
    }
    display: flex;
    justify-content: space-between;
  }
  h4 {
    font-size: 16px;
    font-weight: 600;
  }
}
.container_address_manage_my_account {
  div {
    padding: 8px 8px;
  }
}
.prfo_info_cont {
  .name_mma {
    font-size: 14px;
    font-weight: 600;
  }
  font-size: 14px;
}
.single_prof_recorder {
  display: flex;
  flex-direction: column;
  .prorder_img {
    display: flex;
  }
}
.prorder_img {
  img {
    // width: 90%;
    // height: 20%;
    width: 70px;
  }
}

.prorder_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px !important;
  font-size: 13px;
  font-weight: 600 !important;
  border: 1px solid #fc3d57;
  cursor: pointer;
  // width: 80%;
  // min-width: 135px;
  min-height: 15px;
  height: 65%;
  //
  color: #fc3d57 !important;
  &:hover {
    color: white !important;
    background-color: $defaut-color-pink !important;
  }
}
.prorder_txt {
  h5 {
    font-weight: 600;
    padding-bottom: 10px;
  }
  p {
    font-size: 14px;
  }
}
// .vieworderbtn_mma {
//   display: flex;
//   padding: 5px 15px !important;
//   height: 40px;
//   justify-content: center;
//   align-items: center;
//   color: #fc3d57;
//   border: 1px solid #fc3d57;
//   // height: 70%;
//   font-size: 13px;
//   font-weight: 600 !important;
//   cursor: pointer;
//   &:hover {
//     color: white !important;
//     background-color: $defaut-color-pink !important;
//   }
// }

.order_prodetails {
  .orderprod_img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .orderdet_btn {
    width: 20%;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .single_orderdet_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    h5 {
      font-size: 15px;
      font-weight: 600;
      padding-bottom: 5px;
    }
    p {
      font-size: 13px;
    }
  }
  .single_orderdet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    width: 25%;
    h5 {
      font-size: 15px;
      font-weight: 600;
      padding-bottom: 5px;
    }
    p {
      font-size: 13px;
    }
  }
}
.single_paymethod {
  .orderprod_img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .orderdet_btn {
    width: 25%;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      width: 48%;
    }
  }
  .single_orderdet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    width: 20%;
    h5 {
      font-size: 13px;
      // height: 35px;
      font-weight: 600;
      padding-bottom: 5px;
    }
    p {
      font-size: 11px;
    }
  }
}
.shipping_process {
  .sprocess_cont .sprosbar {
    position: absolute;
    // left: 37px;
    top: 30%;
    // right: 35px;
    width: 54%;
    background: #e9e4e4;
    height: 2px;
    z-index: -1;
  }
  .sprocess_cont .sprosbar .sp_fill {
    position: absolute;
    // left: 0;
    // top: 0;
    height: 2px;
    // width: 100%;
    background: #4cae50;
  }
}
.single_sproc_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 9px;
  .sproc_cont_dot {
    // top: 50%;
    width: 15px;
    height: 15px;
    background: #4cae50;
    border-radius: 50%;
  }
}
.order_detail_wrapper .orderdet_info .single_orderdet {
  h5 {
    font-weight: 600;
  }
  p {
    padding-top: 5px;
    font-size: 13px;
  }
}
.order_detail_wrapper .order_prodetails {
  .single_orderdet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    width: 20%;
    h5 {
      font-size: 15px;
      // height: 35px;
      font-weight: 600;
      padding-bottom: 5px;
    }
    p {
      font-size: 12px;
    }
  }
}
.profile_info_wrap {
  .single_prof_info {
    border: none !important;
    padding: 30px 0px;
    h4 {
      padding-bottom: 10px;
    }
  }
}
.write_review_wrap {
  .single_orderdet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    width: 20%;
    h5 {
      font-size: 15px;
      // height: 35px;
      font-weight: 600;
      padding-bottom: 5px;
    }
    p {
      font-size: 14px;
    }
  }
}
