$defaut-color-black: black;
$defaut-color-white: white;
.btnwishlist {
  background-color: $defaut-color-black !important;
  color: $defaut-color-white;
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid $defaut-color-black;
}
.btnwishlist:hover {
  padding: 8px 16px;
  background-color: $defaut-color-white !important;
  color: black !important;
  border: 1px solid $defaut-color-black;
}
.btnadd {
  color: $defaut-color-black;
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid $defaut-color-black;
  margin: 0 16px 0 0;
}
.btnadd:hover {
  padding: 8px 16px;
  background-color: $defaut-color-black !important;
  color: $defaut-color-white !important;
  border: 1px solid $defaut-color-black;
}
.text-semibold {
  //   font-family: "Poppins", sans-serif;
  padding-right: 4px;
}
.product_other_info {
  p {
    padding-bottom: 8px;
  }
}
.minus {
  border: 1px solid $defaut-color-black;
}
.inputmp {
  border-top: 1px solid $defaut-color-black;
  border-bottom: 1px solid $defaut-color-black;
}

.plus {
  border: 1px solid $defaut-color-black;
}
.iconfooter {
  a {
    border: 1px solid $defaut-color-black;
  }
}
