.navbar {
  background-color: white;
  display: flex;
  justify-content: center;
  height: 100px;
  color: black;min-width: 1000px;
}

.navContainer {
  padding: 6px 15px;
  width: 100%;
  max-width: 1140px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  img {
    justify-content: center;
    width: 300px;
    height: 60px;
  }
}
.searchBox {
  padding-left: 5px;
  flex: 3;
  width: auto;
  input {
    width: 400px;
  }
}
.phone {
  flex: 1;
  a {
    text-decoration: none;
    color: black;
  }
}
.iconBuy {
  a {
    text-decoration: none;
    color: black;
  }
}
