$defaut-color-pink: #fc3d57;
.navbar {
  background-color: $defaut-color-pink;
  display: flex !important;
  justify-content: center !important;
  max-width: 100%;
  // height: 57px;
}
.navContainerMenu {
  height: 60px;
  max-width: 1200px;
  width: 100%;
  min-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  input {
    border-left: 1px solid black;
    outline: none;
  }
  select {
    outline: none;
  }
}

.popscart {
  position: absolute;
  top: -5px;
  right: 0px;
  background-color: #2b2d42;
  color: white;
  font-size: 8px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  width: 18px;
  z-index: 9;
}

.containerNarbarIcon {
  height: 100%;
  position: relative;
  padding-top: 12px;
  a {
    text-decoration-line: none;
  }
  :hover {
    i {
      opacity: 0.8;
      color: white;
    }
  }
}
.popsheart {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 6px;
  right: 101px;
  background-color: #2b2d42;
  color: white;
  font-size: 8px;
  font-weight: bold;
  border-radius: 50%;
  z-index: 9; /* set a high z-index value to make sure the badge appears on top of other elements */
}

$defaut-color-black: black;
$defaut-color-white: white;
$defaut-color-pink: #fc3d57;
//if you want to design css animations you can customize them in class tailwind
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
// @media only screen and (min-width: 768px) {
@media only screen {
  .parent:hover .child {
    opacity: 1;
    // top: 0;
    overflow: none;
    transform: translateY(0);
    z-index: 10;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1), 5px 0 10px rgba(0, 0, 0, 0.1);
  }
  .child {
    z-index: 0;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transform: translateY(-10%);
  }
}
.headernavbar {
  // width: 1200px !important;
  width: 100% !important;
  height: auto;
  a .las {
    transition: transform 0.3s;
  }
  a:hover .las {
    transform: rotate(180deg);
  }
  a:hover {
    color: #fc3d57;
    text-decoration-line: none;
  }
  span {
    font-family: "Poppins", sans-serif !important;
  }
  span:hover {
    cursor: pointer;
  }
}
.ac_links {
  div {
    i {
      font-size: 22px;
      padding-right: 12px;
      color: black !important;
    }
  }
}
.buttonaccount {
  .btnjoin {
    font-size: 12px;
    font-weight: 700;
    width: 48%;
    padding: 3px 15px;
    border-radius: 0.25rem;
    color: white;
    border-width: 2px;
    border-color: #fc3d57;
    background-color: #fc3d57;
    &:hover {
      font-size: 12px;
      font-weight: 600;
      width: 48%;
      padding: 3px 15px 3px 15px;
      border-radius: 0.25rem;
      color: #fc3d57;
      border-width: 2px;
      background-color: white;
      border-color: #fc3d57;
    }
  }
  .btnlogin {
    font-size: 12px;
    font-weight: 800;
    width: 48%;
    padding: 3px 15px;
    border-radius: 0.25rem;
    color: #fc3d57;
    border-width: 2px;
    border-color: #fc3d57;
    &:hover {
      font-size: 12px;
      font-weight: 700;
      width: 48%;
      padding: 3px 15px 3px 15px;
      border-radius: 0.25rem;
      color: white;
      border-width: 2px;
      border-color: #fc3d57;
      background-color: #fc3d57;
    }
  }
}
.divchild {
  &:hover {
    // background-color: #2b2d42 !important;
  }
}
.divitemaccount {
  a:hover {
    color: #fc3d57;
  }
  i:hover {
    color: #fc3d57;
  }
}
.acprof_img_searchbar {
  width: 30px;
  // padding: 5px;
  border: 1px solid #e9e4e4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.acprof_img_searchbar:hover {
  border: 1px solid #e9e4e4 !important;
}
